@using Sports_equipment_store.Models;
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">sport Type</th>
                <th scope="col">product Name</th>
                <th scope="col">company</th>
                <th scope="col">price</th>
                <th scope="col">Amount</th>
                <th scope="col">group ID</th>
                <th scope="col">picture</th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (SportsEquipment equipment in Model)
                {
                    <tr>
                        <td> @equipment.Id</td>
                        <td> @equipment.sportType</td>
                        <td> @equipment.productName</td>
                        <td> @equipment.company</td>
                        <td> @equipment.price</td>
                        <td> @equipment.Amount</td>
                        <td> @equipment.groupID</td>
                        <td><img src="@equipment.picture" alt="" class="img-thumbnail" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

