@using Sports_equipment_store.Models;
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Type Garment</th>
                <th scope="col">Company</th>
                <th scope="col">Amount</th>
                <th scope="col">Is Short</th>
                <th scope="col">Is Dreyfit</th>
                <th scope="col">image</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Clothing clothing in Model)
            {
                if (clothing.IsShort == true)
                {
                    <tr>
                        <td> @clothing.Id</td>
                        <td> @clothing.TypeGarment</td>
                        <td> @clothing.Company</td>
                        <td> @clothing.Model</td>
                        <td> @clothing.Amount</td>
                        <td> @clothing.IsShort</td>
                        <td> @clothing.IsDreyfit</td>
                        <td><img src="@clothing.ImageLink_" alt="" class="img-thumbnail" /></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

