@using Sports_equipment_store.Models;

@foreach (Clothing shirt in Model)
{
    if (shirt.TypeGarment.ToUpper() == "SHIRT")
    {
        <img src="@shirt.ImageLink_" alt="Clothings" />
        <p>Type Garment : @shirt.TypeGarment</p>
        <p>company: @shirt.Company</p>
        <p>Model: @shirt.Model</p>
        <p>price: @shirt.Price $</p>

    }
}

